.quote::before{
    content: '?';
    font-size: 3em;
    color: #ccc;
    font-weight: bold;
    margin-right: 10px;
}
h2::after{
    content:'';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #3498db;
    margin-top: 8px;
}
a[target="_blank"]::after{
    content:"->";
    font-size: 0.8em;
    font-weight: bold;
}