.box{
    width: 250px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    border: 3px solid #333;
}

.block-box{
    background-color: lightskyblue;
}
.inline-box{
    background-color: lightcoral;
}